ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  src: url("./fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular"; }
@font-face {
  src: url("./fonts/Lato-Regular.ttf");
  font-family: "Lato-Regular"; }
@font-face {
  src: url("./fonts/Montserrat-ExtraBold.otf");
  font-family: "Montserrat-ExtraBold"; }
body {
  font-family: "Lato-Regular"; }

a {
  text-decoration: none; }

p, li, ul {
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 834px;
  background: #00a4ff;
  color: white;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  transition: padding-bottom 0.3s; }

.header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.44);
  z-index: -1; }

.header__top {
  background-color: rgba(0, 0, 0, 0.39);
  font-family: "Montserrat-Regular", sans-serif;
  padding-top: 25px;
  padding-bottom: 0px;
  transition: padding-top 0.5s, padding-bottom 0.5s; }

.header__top__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 10px; }

.header__top__up i {
  color: #fbe900;
  font-size: 1.5em; }

.header__top__up__contact__item,
.header__top__up__social__item,
.header__top__up__lang__item {
  display: inline-block;
  font-size: 1em; }

.header__top__up__contacts {
  display: flex;
  justify-content: space-between;
  width: 45%; }

.header__top__up__contact__item__text {
  vertical-align: text-top; }

.header__top__up__contact__item i {
  padding-right: 5px; }

.header__top__up__social__item {
  padding-right: 10px; }
  .header__top__up__social__item:last-child {
    padding-right: 0px; }

.header__top__up__lang__item:first-child {
  color: #fbe900; }

hr {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  height: 3px;
  margin: 0px;
  padding: 0px; }

.lang__toggle,
.row__up__toggle {
  display: none !important; }

.header__top__down {
  padding: 20px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__top__down__logo h2 {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  font-weight: 300; }

.header__top__down__nav__list {
  opacity: 1;
  transition: opacity 0.5s; }

.header__toggle {
  display: none !important; }

.header__top__down__nav__item {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
  letter-spacing: 1px; }

.header__top__down__nav__item:hover a {
  padding-bottom: 25px;
  border-bottom: 3px solid #fbe900; }

.header__top__down__nav__item:last-child {
  padding-right: 0px; }

.header__top__down__nav__item a {
  text-decoration: none;
  color: white; }

.header__content {
  padding-top: 14%;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.header__content__title {
  font-size: 3em;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  margin-bottom: 30px; }

.header__content__subtitle {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 40px; }

.header__content__text {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 50px; }

.header__content__button {
  border-radius: 4px;
  padding: 14px 50px;
  background-color: #fbe900;
  color: #030303;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

.main__service {
  width: 100%;
  background-color: #fdfdfd; }

.main__service__title {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px; }

.main__service__subtitle {
  font-size: 2em;
  font-family: "Montserrat-Regular", sans-serif;
  text-align: center;
  padding-bottom: 70px; }

.main__service__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; }
.main__service__list__left {
  margin-right: 30%;
}
.main__service__list__left,
.main__service__list__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 50%; }

.main__service__item {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
  width: 100%;
  height: 100%; }
  .main__service__item i {
    float: left;
    font-size: 3em;
    color: #009eff;
    padding-right: 40px; }
  .main__service__item h3 {
    font-size: 1.1em;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 800;
    padding-bottom: 15px; }
  .main__service__item p {
    font-family: "Lato-Regular";
    font-size: 1em;
    line-height: 25px;
    justify-content: center; }

.main__blog {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: #fdfdfd;
  /* background-image: url(../img/blog/bg_1600.jpg); */
  background-attachment: fixed;
  padding-bottom: 130px;
  position: relative;
  z-index: 1;
 }

.main__blog::after {
  content: '';
  background-color: #fdfdfd;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main__blog__posts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.main__blog__post {
  max-width: 32%;
  position: relative;
  margin-bottom: 0px;}
  .main__blog__post img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1; }
    .main__blog__post::after {
    display: block;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -1;
    content: 'a';
    width: 100%;
    background-color: #fdfdfd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;}

  .main__blog__post .main__blog__post__content {
    margin-top: -2px;
    /* background-color: white; */
    text-align: center;
    padding-top: 55px;
    padding-bottom: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    height: auto; }
    .main__blog__post .main__blog__post__content .blog__post__date {
      padding-bottom: 15px; }
    .main__blog__post .main__blog__post__content .post__button {
      position: absolute;
      top: -20px;
      width: 50%;
      height: 15px;
      left: 25%;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 4px;
      background-color: #fbe900;
      color: #030303;
      font-family: "Montserrat-Regular", sans-serif;
      font-weight: 800;
      text-transform: uppercase; }
      .main__blog__post .main__blog__post__content .post__button span {
        font-size: 1em; }
  .main__blog__post h3 {
    font-family: "Montserrat-ExtraBold";
    font-size: 1.2em;
    margin-bottom: 25px; }
  .main__blog__post p {
    line-height: 25px; }

.main__contacts {
  background-color: #fdfdfd; }

.main__contacts__top {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 360px;
  background-image: url(../img/contacts/bg_1600.jpg);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  text-align: center;
  position: relative; }
  .main__contacts__top i {
    text-align: center;
    color: #fbe900;
    font-size: 10vw;
    position: absolute;
    bottom: -15px;
    right: 45%; }

.main__contacts__title {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  color: white; }

.main__contacts__subtitle {
  font-size: 2em;
  font-family: "Montserrat-Regular", sans-serif;
  text-align: center;
  padding-bottom: 70px;
  color: white; }

.main__contacts__bottom {
  margin-top: 80px;
  color: #262626; }

.main__contacts__bottom__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
  flex-wrap: wrap; }

.main__contacts__item {
  display: flex; }
  .main__contacts__item i {
    font-size: 3em;
    margin-right: 25px; }

.main__contacts__item__content h3 {
  text-transform: uppercase;
  font-family: "Lato-Regular";
  font-weight: 600;
  padding-bottom: 20px; }
.main__contacts__item__content p {
  line-height: 25px;
  text-align: left; }

.main__contacts__messenger__icons i {
  font-size: 1.5em; }

.main__offers {
  padding-bottom: 100px; }

.main__offers__top {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-color: #00a4ff; */
  background-size: cover;
  /* background-image: url(../img/offers/bg_1600_img.jpg); */
  position: relative;
  z-index: 1; }

.main__offers__top::after {
  content: '';
  position: absolute;
  height: 17%;
  width: 100%;
  /* bottom: 0; */
  /* top: 95%; */
  z-index: -1;
  background-color: #00a4ff; }

.main__offers__cards {
  width: 100%; }

.main__offers__cards__list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-wrap: nowrap; }

.offers__card {
  flex-basis: 35%;
  position: relative; }
  .offers__card::after {
  position: absolute;
  z-index: -1;
  top: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  content: '';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .offers__card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 9px 0px 0px #fdfdfd, 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%; }
  .offers__card .card__body {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: -2px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #fdfdfd; */
    text-align: center;
    color: #030303;
    height: 100%; }
  .offers__card .card__trip__duration {
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 500;
    font-size: 1.2em; }
  .offers__card .card__city__destination {
    font-size: 1.1em;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 800;
    font-family: "Montserrat-ExtraBold";
    font-weight: 500;
    font-size: 1.5em;
    padding: 15px 0px; }
  .offers__card .card__trip__price {
    font-family: "Montserrat-ExtraBold";
    font-size: 1.2em;
    font-size: 1.8em;
    font-weight: 500;
    padding: 15px 0px; }
  .offers__card .card__purchase__button {
    border-radius: 4px;
    padding: 14px 50px;
    background-color: #fbe900;
    color: #030303;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #f2da39;
    padding: 14px 0px;
    margin: 0 auto;
    width: 65%; }
  .offers__card .card__purchase__button:hover {
    background-color: #fbe900; }
  .offers__card .card__body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.offers__card__center {
  flex-basis: 45%;
  z-index: 2;
  position: relative; }
  .offers__card__center img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 9px 0px 0px #fdfdfd, 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%; }
  .offers__card__center .card__body {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: -2px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fdfdfd;
    text-align: center;
    color: #030303; }
  .offers__card__center .card__trip__duration {
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 500;
    font-size: 1.2em; }
  .offers__card__center .card__city__destination {
    font-size: 1.1em;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 800;
    font-family: "Montserrat-ExtraBold";
    font-weight: 500;
    font-size: 1.5em;
    padding: 15px 0px; }
  .offers__card__center .card__trip__price {
    font-family: "Montserrat-ExtraBold";
    font-size: 1.2em;
    font-size: 1.8em;
    font-weight: 500;
    padding: 15px 0px; }
  .offers__card__center .card__purchase__button {
    border-radius: 4px;
    padding: 14px 50px;
    background-color: #fbe900;
    color: #030303;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #f2da39;
    padding: 14px 0px;
    margin: 0 auto;
    width: 65%; }
  .offers__card__center .card__purchase__button:hover {
    background-color: #fbe900; }
  .offers__card__center .card__body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.offers__card__center::after {
  position: absolute;
  width: 100%;
  left: 0;
  height: 50px;
  bottom: -48px;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fdfdfd;
  color: #fdfdfd;
  content: 'manov.ru'; }

.main__offers__down {
  background-color: #00a4ff;
  height: 20%; }

.footer {
  margin-top: -20px;
  height: 180px;
  text-align: center; }
  .footer p { }

.footer__social__icons {
  display: block;
  padding-top: 70px;
  padding-bottom: 25px; }
  .footer__social__icons li {
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto; }
  .footer__social__icons i {
    font-size: 2em; }
  .footer__social__icons a:hover {
    transition: color 0.3s;
    color: #fdfdfd; }

@media screen and (max-width: 1010px) {
  .header__top__up__contacts {
    width: 50%; }

  .header__top__up__contacts {
    width: 50%; } }
@media screen and (max-width: 768px) {
  .container {
    width: 90%; }

  .header__top__up__contacts {
    width: 60%; } }
@media (min-width: 320px) and (max-width: 480px) {
  .header__top__up__contacts {
    justify-content: flex-start;
    width: 35%; }

  .header__top__up__contact__item i {
    padding-right: 10px; }

  .header__top__up__contact__item__text {
    display: none; }

  .header__top__up__social__item {
    padding-right: 7px; }
    .header__top__up__social__item:last-child {
      padding-right: 0px; }
    .header__top__up__social__item .fa-telegram {
      display: none; }

  .header__top__up__lang {
    display: none;
    text-align: right; }

  .lang__toggle {
    display: block !important; }

  .header__top__down__nav {
    text-align: right;
    position: relative; }

  .header__top__down__nav__item:hover a {
    padding-bottom: 0px; }

  .header__top__down__nav__list {
    display: none;
    position: absolute;
    right: 0px;
    opacity: 0;
    transition: opacity 0.5s; }
    .header__top__down__nav__list .header__top__down__nav__item {
      display: block;
      padding-top: 10px; }
    .header__top__down__nav__list li {
      padding-right: 0px; }

  .header__toggle {
    display: block !important;
    font-size: 6vw;
    margin-bottom: 10px; }

  .row__up__toggle {
    font-size: 6vw;
    margin-bottom: 10px; }

  .offers__card {
    flex-basis: 100%; }

  .offers__card__center {
    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 70px; }

  .main__offers__cards__list {
    flex-wrap: wrap; }

  .main__offers__top::after {
    display: none; }

  .main__offers {
    padding-bottom: 50px; }

  .main__service__items {
  }

  .main__service__list__left {
    margin-right: 0px; }

  .main__service__list__left,
  .main__service__list__right {
    width: 40%; }

  .main__service__item__content {
    display: none;
    padding: 0px; }

  .main__service__item {
    padding-bottom: 34px;
    justify-content: center; }
    .main__service__item i {
      padding: 0px; }

  .main__blog {
    height: auto;
    padding-bottom: 60px; }

  .main__blog__posts {
    flex-wrap: wrap; }

  .main__blog__post {
    max-width: 100%;
    padding-bottom: 25px;
    margin-bottom: 35px;}
    .main__blog__post:last-child {
      padding-bottom: 0px; }

  .main__contacts__top {
    height: auto; }

  .main__contacts__bottom__list {
    padding-bottom: 70px;
    }

  .main__contacts__item i {
    text-align: center;
    margin-right: 5px; }

  .main__contacts__item {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 48px; }

  .main__contacts__item:last-child {
    }

  .item__icon {
    padding-bottom: 15px; }

  .main__contacts__item__content h3 {
    display: none; } }

/*# sourceMappingURL=main.css.map */
